<figure>
  <a href="{{ site.baseurl }}/images/{{ include.url }}" target="_blank">
    <img src="{{ site.baseurl }}/images/thumbnails/{{ include.url }}"
      {% if include.alt %}
        alt="{{ include.alt }}"
      {% elsif include.description %}
        alt="{{ include.description }}"
      {% endif %}
    "/>
  </a>
  {% if include.description %}
    <figcaption>Image: <em>{{ include.description }}</em>
    {% if include.source %}
      (<a href="{{ include.source }}" target="_blank">Image source</a>)
    {% endif %}</figcaption>
  {% endif %}
</figure>
